*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(65,105,225);
    /* background-color: rgb(30,144,255); */
}
.main-container{
    display: flex;
    justify-content: space-around;
    font-weight: 400;
    font-size: 30px;
    margin-top: 300px;

}

span{
    color: white;
}
.counter-countainer{
    display: flex;
    flex-direction: column;
    gap: 9px;
}
.counter-countainer i{
    color: #fff;
    padding: 10px;
    margin-left: 100px;
}
.counter{
    color: 	#FF8C00;
    margin-left: 90px;
}

